<mat-divider></mat-divider>
<div class='mat-title'>
    Machine Performance
</div>
<div>
  <mat-divider></mat-divider>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="calendarDate" (dateInput)="addEvent('input', $event)"
      (dateChange)="addEvent('change', $event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Choose a shift" [(ngModel)]="selectedShift" >
      <mat-option value="Day">Day</mat-option>
	  <mat-option value="Night">Night</mat-option>
    </mat-select>
  </mat-form-field>

  <button (click)="updateRequest()" mat-raised-button>View Result</button>

</div>

<mat-divider></mat-divider>
<div>
	<mat-tab-group>
		<mat-tab label="Machince Performance">
			<app-machine-perf *ngFor="let mc of _listMachine; let i=index" [vMachine]="mc" id="container-{{ mc }}">
			</app-machine-perf>
		</mat-tab>
	</mat-tab-group>
</div>
<!--
<app-machine-perf [vMachine]="'SP'" id="container-SP">
</app-machine-perf>
<app-machine-perf [vMachine]="'SL4'" id="container-SL4">
</app-machine-perf>
<app-machine-perf [vMachine]="'SUPC1'" id="container-SUPC1">
</app-machine-perf>
<app-machine-perf [vMachine]="'SUPC4'" id="container-SUPC4">
</app-machine-perf>
<app-machine-perf [vMachine]="'P60T2'" id="container-P60T2">
</app-machine-perf>
-->