<div class="handling-table-container">
    <cdk-table #table  [dataSource]="dataSource" matSortActive="u_shift" matSortDirection='asc' (matSortChange)="sortData()" class="handling-table-table" matSort>
        <ng-container cdkColumnDef="u_plan_date" >
            <cdk-header-cell *cdkHeaderCellDef class="handling-table-header-cell" mat-sort-header="u_plan_date">Plan Date</cdk-header-cell>
            <cdk-cell *cdkCellDef="let row" class="handling-table-cell"> {{row.u_plan_date | trim}} </cdk-cell>
        </ng-container>
      <ng-container cdkColumnDef="u_shift" >
                    <cdk-header-cell *cdkHeaderCellDef class="handling-table-header-cell" mat-sort-header="u_shift">Shift</cdk-header-cell>
                    <cdk-cell *cdkCellDef="let row" class="handling-table-cell"> {{row.u_shift | trim}} </cdk-cell>
        </ng-container>
        <ng-container cdkColumnDef="seqno" >
            <cdk-header-cell *cdkHeaderCellDef class="handling-table-header-cell" width="shrink-to-fit" mat-sort-header="seqno">Seq</cdk-header-cell>
            <cdk-cell *cdkCellDef="let row" class="handling-table-cell"> {{row.seqno}} </cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="u_ind_content">
            <cdk-header-cell *cdkHeaderCellDef class="handling-table-header-cell" mat-sort-header="u_ind_content">Plan Process</cdk-header-cell>
            <cdk-cell *cdkCellDef="let row" class="handling-table-cell"> {{row.u_ind_content | trim}} </cdk-cell>
        </ng-container>
        <ng-container cdkColumnDef="i_seiban">
            <cdk-header-cell *cdkHeaderCellDef class="handling-table-header-cell" mat-sort-header="i_seiban">Seiban</cdk-header-cell>
            <cdk-cell *cdkCellDef="let row" class="handling-table-cell"> {{row.i_seiban | trim}} </cdk-cell>
        </ng-container>
        <ng-container cdkColumnDef="i_sch_lot_no">
            <cdk-header-cell *cdkHeaderCellDef class="handling-table-header-cell">Cust.</cdk-header-cell>
            <cdk-cell *cdkCellDef="let row" class="handling-table-cell"> {{row.i_sch_lot_no | trim}} </cdk-cell>
        </ng-container>
        <ng-container cdkColumnDef="i_plan_remark1">
            <cdk-header-cell *cdkHeaderCellDef class="handling-table-header-cell">Part No.</cdk-header-cell>
            <cdk-cell *cdkCellDef="let row" class="handling-table-cell"> {{row.i_plan_remark1 | trim}} </cdk-cell>
        </ng-container>
        <ng-container cdkColumnDef="i_sim_item_cd">
            <cdk-header-cell *cdkHeaderCellDef class="handling-table-header-cell">Item Cd</cdk-header-cell>
            <cdk-cell *cdkCellDef="let row" class="handling-table-cell"> {{row.i_sim_item_cd | trim}} </cdk-cell>
        </ng-container>
        <ng-container cdkColumnDef="i_sim_po_qty">
            <cdk-header-cell *cdkHeaderCellDef class="handling-table-header-cell">Plan Qty</cdk-header-cell>
            <cdk-cell *cdkCellDef="let row" class="handling-table-cell"> {{row.i_sim_po_qty | number}} </cdk-cell>
        </ng-container>
        <ng-container cdkColumnDef="i_stock_location">
            <cdk-header-cell *cdkHeaderCellDef class="handling-table-header-cell">Next Process</cdk-header-cell>
            <cdk-cell *cdkCellDef="let row" class="handling-table-cell"> {{row.i_stock_location | trim}} </cdk-cell>
        </ng-container>
        <ng-container cdkColumnDef="prc_start">
            <cdk-header-cell *cdkHeaderCellDef class="handling-table-header-cell">Start</cdk-header-cell>
            <cdk-cell *cdkCellDef="let row" class="handling-table-cell"> {{row.prc_start | date:"HH:mm"}} </cdk-cell>
        </ng-container>
        <ng-container cdkColumnDef="prc_end">
            <cdk-header-cell *cdkHeaderCellDef class="handling-table-header-cell">Finish</cdk-header-cell>
            <cdk-cell *cdkCellDef="let row" class="handling-table-cell"> {{row.prc_end | date:"HH:mm"}} </cdk-cell>
        </ng-container>
        <ng-container cdkColumnDef="state">
            <cdk-header-cell *cdkHeaderCellDef class="handling-table-header-cell" mat-sort-header="state">State</cdk-header-cell>
            <cdk-cell *cdkCellDef="let row" class="handling-table-cell"><mat-chip-list><mat-chip [ngStyle]="checkStyle(row.state)" style='chip-item'>{{row.state}}</mat-chip></mat-chip-list></cdk-cell>
        </ng-container>

        <cdk-header-row *cdkHeaderRowDef="displayedColumns" class="handling-table-header-row"></cdk-header-row>
        <cdk-row *cdkRowDef="let row; columns: displayedColumns" class="handling-table-row"></cdk-row>

    </cdk-table>

  </div>