<mat-divider></mat-divider>
<div class='mat-title'>
    Search current by Part No
</div>
<div>
  <mat-divider></mat-divider>
  <mat-form-field>
      <input matInput placeholder="Customer PartNo" [(ngModel)]="partno" class="partno">
  </mat-form-field>

  <button (click)="updateRequest()" mat-raised-button>View Result</button>

</div>
<div>
  <mat-slide-toggle  color="primary" [(ngModel)]="refreshToggle">Auto Refresh!</mat-slide-toggle>
</div>
<mat-divider></mat-divider>
<div>
  <mat-tab-group>
    <mat-tab label="Search Part No">
      <app-searchpartno>
      </app-searchpartno>
    </mat-tab>
  </mat-tab-group>
</div>